
<div class="alert alert-success" role="alert">
	Notes
</div>
<div class="col-md-6">
	<div class="panel panel-success">
		<div class="panel-body">
		<%= render 'form', :locals => { :note => @note} %>
		<%= link_to "Back to Lists" , lists_path %>
		</div>
	</div>
</div>
<div class="col-md-6">
		<div class="panel-body">
		<% @notes.each do |note| %>
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="panel-title">
						<%= note.content %>
						<span class='pull-right'>
							<%= note.created_at.strftime("%d-%b")%>
						</span>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
