<div class="alert alert-success" role="alert">
  Calendar
</div>

<div class="col-md-12">
	<%= month_calendar events: @lists do |date, lists| %>
	<%= date.strftime("%d-%b") %>
		<% lists.each do |list|  %>
		
			<% if list.user.email == current_user.email %>
				<br/><%= link_to list.name, list %>
			<% end %>
		<% end %>
	<% end %>
</div>