<h1>New Item</h1>

<%= render 'form' %>
	<div class="list">
	<ul>
		<%  @items.each do |item| %>
		<li class="list-group-item"> <%= item.name %>
			<%= link_to item, method: :delete do %>
			<i class="glyphicon glyphicon-trash pull-right"></i>
			<% end %>
		</li>

		<% end %>
	</ul>
</div>
<%= link_to 'Back', items_path %>

