/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require simple_calendar
 *= require_tree .
 *= require_self
 */

 /*page styling*/

$nav-footer-color: #2e4858;

[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #87bb8d;
    /*border: 3px solid;*/
    /*border-color: #979896;*/
    color: #000;
    height: 90px;
    width: 92.5%;
    padding: 5px 25px 25px 25px;
    /*border-radius: 25px;*/
    margin-top: 65px;
    margin-bottom: 25px;
    text-align: center;
}

.selected-button.active{

    font-weight: bolder;
}   

.btn-default li a:hover {
	width: 100px;
	
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#87bb8d;
    color: #000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #87bb8d;
}


 .navbar-default {
 	background-image: linear-gradient(to top,$nav-footer-color 0,$nav-footer-color 80%);
 }
 .footer {
    background-image: linear-gradient(to top,$nav-footer-color 0,$nav-footer-color 80%);
    /*background-color: #877b8d;*/
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 30px 15px 15px 15px;
    height: 75px;
}

 .navbar-default .navbar-nav>li>a {
 	color: #fff;
 }

 .navbar-default .navbar-nav>li>a:hover{
 	color: #1cc716;
 }

.navbar-brand {
   	padding: 0;
   }
.list{
	width: 450px;
}

.left_column{ 
	background-image: url('fridge-ed8a64f8f0ef5e90803242adcc1874343004c242c35b827b6f0429503ab1c58c.png');
	background-size: auto;
	min-height: 800px;
	background-repeat: no-repeat;
    background-position: contain;
}
/*Styling For Small Skicky Notes and Big Sticky Note*/
.note{
	background-image: url('smileynote-47601aca00cbc3b8e8860f3220d5c2d2cb0663aaadfd9f739016b4d0f0b5121d.png'); 
	background-size: 80px 80px;
	background-repeat: no-repeat;
	width:80px;
	height:80px;
	position: absolute;
	top: 120px;
    left: 130px;
    text-align: right;
}
.note > a {
	padding-top: 5px;
	padding-right: 10px;
	color: grey;
}
.note > a:hover {
	background-color: transparent;
}
.noteHover{
	background-size: 90px 90px;
	width:90px;
	height:90px;
}
.overlayDiv {
	background-image: url('stickynote-5aaee34d439cf1b81aa1aa980623e5b349656e9f2eed17288fd77929bd89240b.png');
	background-size: 400px;
    width:400px; 
    height:400px; 
    position: fixed;  
    top: 30%; 
    left: 50%; 
    margin-top: -100px; 
    margin-left: -100px; 
    z-index: 100;
    text-align: right;
    display: none;
}
.noteContents{
	text-align: left;
	width: 250px;
	height: 200px;
	position: fixed;
	margin-left: 70px;
	margin-top: 100px;
	margin-bottom: 50px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20pt;
	line-height: 1.5em;
}
.closeNote{
	width: 100%;
	padding-top: 40px; 
	padding-right: 80px;
}
/*End of Styling For Small Skicky Notes and Big Sticky Note*/


.share {
	width: 50%;
	height: 200px;
}

