/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require simple_calendar
 *= require_tree .
 *= require_self
 */

 /*page styling*/


[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    border: 3px solid;
    border-color: #87bb8d;
    color: #87bb8d;
    width: 90%;
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 25px;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 90%;
    min-height: 500px;
    background-color: #87bb8d;
    border-radius: 25px;
}

.first-item {
	width: 20%;
}
.first-item ul {
	list-style-type: none;
	margin-top: 15px;
}
.first-item ul li {
	margin-top: 20px;
}

.second-item {
	width: 60%;
}
.third-item {
	width: 20%;
}
.btn-default {
	background-color: #fff;
	width: 100px;

}

.btn-default li a:hover {
	color: red;
	width: 100px;
	
}
/*.flex-item {
    background-color: #87bb8d;
    width: 30%;
    margin: 10px;
}*/

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#87bb8d;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #87bb8d;
}
.aside {
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}
.footer {
    background-color: #87bb8d;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
/*navbar style*/
.panel .panel-default{
	color: red;
	background-color: blue;
}
 .navbar-default {
 	background-image: linear-gradient(to bottom,#000000 0,#39434D 100%);
 }

 .navbar-default .navbar-nav>li>a {
 	color: #fff;
 }

 .navbar-default .navbar-nav>li>a:hover{
 	color: #1cc716;
 }

.navbar-brand {
   	padding: 0;
   }
.list{
	width: 450px;
}

.left_column{
	background-image: url('fridge.png');
	background-size: auto;
	min-height: 800px;
	background-repeat: no-repeat;
}
/*Styling For Small Skicky Notes and Big Sticky Note*/
.note{
	background-image: url('smileynote.png'); 
	background-size: 80px 80px;
	background-repeat: no-repeat;
	width:80px;
	height:80px;
	position: absolute;
	top: 120px;
    left: 130px;
    text-align: right;
}
.note > a {
	padding-top: 5px;
	padding-right: 10px;
	color: grey;
}
.note > a:hover {
	background-color: transparent;
}
.noteHover{
	background-size: 90px 90px;
	width:90px;
	height:90px;
}
.overlayDiv {
	background-image: url('stickynote.png');
	background-size: 400px;
    width:400px; 
    height:400px; 
    position: fixed;  
    top: 30%; 
    left: 50%; 
    margin-top: -100px; 
    margin-left: -100px; 
    z-index: 100;
    text-align: right;
    display: none;
}
.noteContents{
	text-align: left;
	width: 250px;
	height: 200px;
	position: fixed;
	margin-left: 70px;
	margin-top: 100px;
	margin-bottom: 50px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20pt;
	line-height: 1.5em;
}
.closeNote{
	width: 100%;
	padding-top: 40px; 
	padding-right: 80px;
}
/*End of Styling For Small Skicky Notes and Big Sticky Note*/
.my_lists {
	float: left;

}
.shared_lists {
	float: left;

}

.share {
	width: 50%;
	height: 200px;
}
