
.log_in_container {
	width: 350px;
	margin: 100px auto;
	background-image: 'fridge.png';
	border-radius: 40px;
	text_align: center;
	padding: 20px;
	background: rgba(255,255,255,.5);
}

.log_in_container.sign_up{
	text-align: left;
}

.footer {
    background-color: #87bb8d;
    color: #000;
    text-align: center;
    font-size: 14px;
    position: fixed;
    left: 0;
    right: 0;
    bottom:0;

}

.session_header {
   background: rgba(255,255,255,.5);
    color: #000;
    width: 25%;
    text_align: center;
    padding: 5px;
    border-radius: 40px;
}

.background_css {
	background-size: cover;
  background-repeat: no-repeat;
}
