<div class="col-md-6">
	<div class="panel panel-success">
		<div class="panel-heading">
			Add an New Category
		</div>
		<div class="panel-body">
			<%= render 'form' %>
			<%= link_to 'Back', categories_path %>
		</div>
	</div>
</div>